.primary-text { color: #38b6ff !important; }
.secondary-text { color: #007dc6; }
.primary-color { background-color: #38b6ff !important; }
.yellow-color { background-color: #fffb00 !important}
.secondary-color {background-color: #0071b4 !important;}

.dark-color {background-color: #575757 !important;}
.gray-color {background-color: #f0f2f5 !important;}

.primary-fs { font-size: 12px !important;}
.secondary-fs {font-size: 16px !important;}
.smaller-fs {font-size: 7px !important}
::-webkit-scrollbar {
    display: none;
}
